<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658150650752-g8snjr0gemkq2mbkfr0rmp60m5i21ssc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658150650752-g8snjr0gemkq2mbkfr0rmp60m5i21ssc</string>
	<key>API_KEY</key>
	<string>AIzaSyDiLJZB9TVgdzjITFImD66yjoZ9iW2Y0h0</string>
	<key>GCM_SENDER_ID</key>
	<string>658150650752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riopy.tuneyourmindtym</string>
	<key>PROJECT_ID</key>
	<string>tune-your-mind-45af9</string>
	<key>STORAGE_BUCKET</key>
	<string>tune-your-mind-45af9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658150650752:ios:b82b6113259ee7708c8765</string>
</dict>
</plist>